<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Add Address</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQMZqY7iHFu57gnN9LXJayqCl-ItmQmka1Y2Q&usqp=CAU" />
  <ion-card>
    <ion-card-content>
      <p>Address: Fake Street, 111</p>
      <p>Complement: Auto 222</p>
      <p>Neighbourhood: Gustav Adolf StraBe 2</p>
      <p>Zip Code:39104</p>
      <p>City Name: Magdeburg</p>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-item lines="inset">
      <ion-label position="floating">Notes</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
  </ion-list>
  <ion-button size="full" color="success">
    Create Addres
  </ion-button>
</ion-content>